# Poetry virtualenv
.venv

# Ruff cache
.ruff_cache

# Wheel output directory
dist/

# Dev env variables
.env

# Temp directory to build pyright
temp/

# Bundled Pyright artifacts
pyright_alright/pyright/dist/
pyright_alright/pyright/index.js


# Tests artifacts on CI
tests/pyproject.toml
tests/poetry.lock
